{
	"singleQuote": false,
	"semi": false,
	"printWidth": 80,
	"endOfLine": "auto",
	"tabWidth": 2,
	"quoteProps": "as-needed",
	"trailingComma": "none",
	"bracketSpacing": true,
	"arrowParens": "always"
}
