version: 2.1

aliases:
  - &defaults
    working_directory: ~/repos
    docker:
      - image: cimg/node:20.11.1

  - &test_tag_filter
    filters:
      tags:
        ignore: /.*/

  - &canary_tag_filter
    filters:
      tags:
        only: /^v[\d\.]+-(canary|alpha|beta)\.\d$/
      branches:
        ignore: /.*/

  - &prod_tag_filter
    filters:
      tags:
        only: /^v[\d\.]+$/
      branches:
        ignore: /.*/

  - &attach
    attach_workspace:
      at: ~/repos
  - &auth_registry
    run:
      name: Authenticate with registry
      command: echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/repos/packages/email-misspelled/.npmrc
  - &save_package_information
    run:
      name: Save package information
      command: |
        echo 'export CURRENT_PACKAGE_VERSION=$(git describe --tags)' >> $BASH_ENV
        echo 'export CURRENT_PACKAGE_NAME=$(jq ".name" ~/repos/packages/email-misspelled/package.json -r)' >> $BASH_ENV
  - &versioning_package
    run:
      name: Versioning package
      command: npm version $CURRENT_PACKAGE_VERSION --no-git-tag-version
  - &print_information
    run:
      name: Print package information
      command: echo $CURRENT_PACKAGE_NAME@$CURRENT_PACKAGE_VERSION
  - &persist
    persist_to_workspace:
      root: ~/repos
      paths:
        - .

jobs:
  test-build:
    <<: *defaults
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: npm ci --prefer-offline --ignore-scripts --no-audit --no-fund
      - run:
          name: Run tests
          command: npm run test:ci -w email-misspelled
      - run:
          name: Run test coverage
          command: npm run test:coverage -w email-misspelled
      - store_artifacts:
          path: tests/coverage/lcov-report
      - run:
          name: Report coverage
          command: npm run test:coverage:report -w email-misspelled
      - run:
          name: Run build
          command: npm run build -w email-misspelled
      - save_cache:
          paths:
            - /node_modules
          key: v1-dependencies-{{ checksum "package.json" }}
      - *persist

  publish-canary:
    <<: *defaults
    steps:
      - *attach
      - *auth_registry
      - *save_package_information
      - *versioning_package
      - *print_information
      - run:
          name: Publish package
          command: npm publish --access public --tag alpha -w email-misspelled
      - *persist

  publish:
    <<: *defaults
    steps:
      - *attach
      - *auth_registry
      - *save_package_information
      - *versioning_package
      - *print_information
      - run:
          name: Publish package
          command: npm publish --access public -w email-misspelled
      - *persist

workflows:
  tests:
    jobs:
      - test-build:
          <<: *test_tag_filter

  test-publish-canary:
    jobs:
      - test-build:
          <<: *canary_tag_filter
      - publish-canary:
          context: personal_packages_vars
          requires:
            - test-build
          <<: *canary_tag_filter

  test-publish:
    jobs:
      - test-build:
          <<: *prod_tag_filter
      - publish:
          context: personal_packages_vars
          requires:
            - test-build
          <<: *prod_tag_filter
