html, body {
	margin: 0;
	background-color: #bb229af2;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	div {
		display: inline-flex;
		margin: 12px;
		border-radius: 4px;
		position: relative;
		vertical-align: top;
		z-index: 0;
	}
}
